@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
}

.childContainer {
  width: fit-content;
  height: 150px;
  margin: 40px;
  font-size: 20px;
  font-weight: 400;
}

.greenColor {
  color: darkgreen;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 30px solid transparent;
  border-radius: 100px;
}
.image{
  width: 500%;
  height: 500%;
  border-radius: 1000%;
}



